# Notas - Listas

In [ ]:
#Crear lista
mi_lista = ['Rojo','Verde','Azul','Amarillo','Naranja','Marrón']

#Imprimir lista completa
print(mi_lista)

#Ver el tipo de la lista
type(mi_lista)

#Imprimir un item puntual de la lista
print(mi_lista[2])

#Imprimir un rango de la lista
print(mi_lista[0:2]) # Incluye el 0, excluye el 2
print(mi_lista[:2]) # Asumiendo valor inicial
print(mi_lista[0:]) # Asumiendo valor final

#Agregando elementos al final de la lista
mi_lista.append('Blanco')

#Agregando elemento indicando posición
mi_lista.insert(3, 'Negro')
print(mi_lista)

#Concatenando listas
mi_lista.extend(['Violeta','Rosado'])
print(mi_lista)

#Encontrar el índice de un ítem específico
print(mi_lista.index('Azul'))

#Eliminar elementos de una lista
mi_lista.remove('Violeta')
print(mi_lista)

#Extraer y recuperar el último elemento de la lista
ultimo = mi_lista.pop()
print(ultimo)

#Multiplicar la lista x veces
miNuevaLista = ['a','b','c']
print(miNuevaLista*3)

#Ordenar una lista de menor a mayor
lista = [1,4,6,8,3,2]
lista.sort()
print(lista)

#Ordenar una lista de mayor a menor
lista = [1,4,6,8,3,2]
lista.sort(reverse=True)
print(lista)

# Notas - Tuplas

In [ ]:
#Convertir una lista en una tupla
#Las tuplas son inmodificables
miTupla = tuple(mi_lista)

#Imprimir un ítem de la tupla
print(miTupla[1])

#Preguntar por un elemento de la tupla
'Rojo' in miTupla

#Evaluar el número de veces que hay un elemento
miTupla.count('Rojo')

#Tupla con un solo elemento
miTuplaUnitaria = ('Blanco',)

#Empaquetanto datos de tupla sin paréntesis
miTupla = 'Camilo', 27, 9, 16

#Desempaquetado de tupla, se guardan los valores en orden de las variables
nombre, dia, mes, año = miTupla
print("Nombre: ", nombre, " - Día: ", dia," - Mes: ", mes," - Año: ", año)

#Convertir una tupla en una lista
miLista = list(miTupla)

# Notas - Diccionario

In [ ]:
#Los diccionarios tienen una organización de 'Clave' y 'Valor'
#Crear un diccionario
miDiccionario = {   'Colores Primarios' : ['Amarillo','Azul','Rojo'],
                    'Colores Secundarios' : ['Naranja','Violeta','Verde'],
                    'Clave3' : 10,
                    'Clave4' : False
                }

#Imprimir un valor a través de su clave
print(miDiccionario['Colores Primarios'])

#Agregar un valor
miDiccionario['Clave5'] = 'Otro ejemplo'

#Eliminar un elemento a través de su clave
del miDiccionario['Clave4']

#Utilizar una tupla como clave para un diccionario
miTupla = ('Colombia','Peru','Ecuador')
miDiccionario = {
    miTupla[0] : "Bogotá",
    miTupla[1] : "Lima",
    miTupla[2] : "Quito"
}

#Colocar una tupla dentro de un diccionario
miDiccionario = {
    'Clave1' : 'Valor1',
    'Clave2' : (1,2,3,4,5)
}

#Colocar una lista dentro de un diccionario - Diferencia en el paréntesis y el corchete
miDiccionario = {
    'Clave1' : 'Valor1',
    'Clave2' : [1,2,3,4,5]
}

#Colocar un diccionario dentro de un diccionario
miDiccionario = {
    'Clave1' : 'Valor1',
    'Clave2' : {'Numeros' : [1,2,3,4,5]}
}

#Imprimir las claves del diccionario
print(miDiccionario.keys())

#Imprimir los valores del diccionario
print(miDiccionario.values())

#Imprimir la longitud del diccionario
len(miDiccionario)

# Punto 1

In [16]:
Lista1 = ['Pereira','Bogotá','Estocolmo','Lisboa','Berlín','Denver','Palermo']
print(Lista1)

['Pereira', 'Bogotá', 'Estocolmo', 'Lisboa', 'Berlín', 'Denver', 'Palermo']

# Punto 2

In [ ]:
print(Lista1[2])

# Punto 3

In [ ]:
print(Lista1[2:5]) #Incluyendo el cuarto elemento

# Punto 4

In [ ]:
type(Lista1)

# Punto 5

In [ ]:
print(Lista1[3:])

# Punto 6

In [ ]:
print(Lista1[:4])

# Punto 7

In [ ]:
Lista1.append('Lisboa')
Lista1.append('Moscú')
print(Lista1)

#Si usamos el comando para agregar los dos elementos al mismo tiempo, si arroja un error.
#Sin embargo, agregará los elementos repetidos o nuevos, una y otra vez

# Punto 8

In [ ]:
Lista1.insert(4,'Tokyo')
print(Lista1)

# Punto 9

In [ ]:
Lista1.extend(['Río','Manila'])
print(Lista1)

# Punto 10

In [ ]:
print(Lista1)
print(Lista1.index('Lisboa'))

# Punto 11

In [ ]:
print(Lista1.index('Armenia'))

#Arroja un error indicando que el elemento no se encuentra en la lista

# Punto 12

In [92]:
Lista1.remove('Río')

# Punto 13

In [93]:
Lista1.remove('Río')

#Arroja un error que indica que el elemento a eliminar no está en la lista

ValueError: list.remove(x): x not in list

# Punto 14

In [94]:
item14 = Lista1.pop()
print(item14)

Manila

# Punto 15

In [95]:
print(Lista1 * 4)

['Pereira', 'Bogotá', 'Estocolmo', 'Berlín', 'Tokyo', 'Denver', 'Palermo', 'Lisboa', 'Lisboa', 'Moscú', 'Pereira', 'Bogotá', 'Estocolmo', 'Berlín', 'Tokyo', 'Denver', 'Palermo', 'Lisboa', 'Lisboa', 'Moscú', 'Pereira', 'Bogotá', 'Estocolmo', 'Berlín', 'Tokyo', 'Denver', 'Palermo', 'Lisboa', 'Lisboa', 'Moscú', 'Pereira', 'Bogotá', 'Estocolmo', 'Berlín', 'Tokyo', 'Denver', 'Palermo', 'Lisboa', 'Lisboa', 'Moscú']

# Punto 16

In [5]:
tupla16 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(tupla16)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

# Punto 17

In [97]:
print(tupla16[10:15])

(11, 12, 13, 14, 15)

# Punto 18

In [99]:
20 in tupla16
30 in tupla16

False

# Punto 19

In [106]:
if 'París' in Lista1:
    print("París ya estaba en la lista")
else:
    Lista1.append('París')
    print("Se ha agregado el elemeto París a la lista")

París ya estaba en la lista

# Punto 20

In [109]:
Lista1.count('Tokyo')
tupla16.count(4)

1

# Punto 21

In [6]:
Lista21 = list(tupla16)

# Punto 22

In [11]:
print(tupla16)
dato1, dato2, dato3 = tupla16[:3]
print(dato1," - ", dato2," - ", dato3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
1  -  2  -  3

# Punto 23

In [22]:
diccionario23 = {
    Lista1[0] : 'Risaralda',
    Lista1[1] : 'Colombia',
    Lista1[2] : 'Suecia',
    Lista1[3] : 'Portugal',
    Lista1[4] : 'Alemania',
    Lista1[5] : 'Colorado',
    Lista1[6] : 'Argentina'
}

Risaralda
Portugal

# Punto 24

In [23]:
print(diccionario23.keys())

dict_keys(['Pereira', 'Bogotá', 'Estocolmo', 'Lisboa', 'Berlín', 'Denver', 'Palermo'])

# Punto 25

In [25]:
print(diccionario23['Lisboa'])
print(diccionario23['Pereira'])

Portugal
Risaralda